{% extends 'base.html.twig' %}

{% block title %}Alta empleados{% endblock %}

{% block body %}

<h1>Empleados</h1>
<h2>Alta nuevo empleado</h2>
{{ form(form, {'attr': {'class':'form-horizontal'}}) }}

{% endblock %}