{% extends 'base.html.twig' %}

{% block title %}Ficha empleado{% endblock %}

{% block body %}

<h1>Empleado</h1>
<button><a href="{{ path('index') }}"><i class="fa fa-sign-out sr-icons"></i>Inicio</a></button>
<h2>Ficha del empleado: </h2>
{{ include('partials/lista.html.twig') }}

{% endblock %}