{% extends 'base.html.twig' %}
{% block title %}Lista de Empleados{% endblock %}
{% block body %}
<h1>Resultados de la busqueda</h1>
<button><a href="{{ path('index') }}"><i class="fa fa-sign-out sr-icons"></i>Inicio</a></button>
{% for empleado in empleados %}
    {{ include('partials/lista.html.twig') }}
    <hr>
    {% else %}
    <p>Empleado no encontrado</p>
    {% endfor %}
{% endblock %}